<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demosys.domain.auth.mapper.SysUserMapper">

    <select id="selectByUsername" resultType="com.example.demosys.domain.auth.entity.SysUser">
        SELECT
            id,
            username,
            display_name AS displayName,
            user_type AS userType,
            org_id AS orgId,
            status,
            auth_provider AS authProvider,
            password_hash AS passwordHash,
            password_algo AS passwordAlgo,
            password_updated_at AS passwordUpdatedAt,
            last_login_at AS lastLoginAt,
            created_at AS createdAt,
            updated_at AS updatedAt
        FROM sys_user
        WHERE username = #{username}
            LIMIT 1
    </select>

    <update id="updateLastLoginAt">
        UPDATE sys_user
        SET last_login_at = NOW(), updated_at = NOW()
        WHERE id = #{id}
    </update>

</mapper>
